version: "3.9"

services:
  frontend:
    container_name: area-frontend
    build:
      context: .
      args:
        API_BASE_URL: ${API_BASE_URL:-http://host.docker.internal:8080/area_auth_api}
        NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL:-http://localhost:8080/area_auth_api}
        AREA_API_BASE_URL: ${AREA_API_BASE_URL:-http://host.docker.internal:8080/area_area_api}
        NEXT_PUBLIC_AREA_API_BASE_URL: ${NEXT_PUBLIC_AREA_API_BASE_URL:-http://localhost:8080/area_area_api}
        SERVICES_API_BASE_URL: ${SERVICES_API_BASE_URL:-http://host.docker.internal:8080/area_service_api}
        NEXT_PUBLIC_SERVICES_API_BASE_URL: ${NEXT_PUBLIC_SERVICES_API_BASE_URL:-http://localhost:8080/area_service_api}
    ports:
      - "8081:8081"
    environment:
      API_BASE_URL: ${API_BASE_URL:-http://host.docker.internal:8080/area_auth_api}
      NEXT_PUBLIC_API_BASE_URL: ${NEXT_PUBLIC_API_BASE_URL:-http://localhost:8080/area_auth_api}
      AREA_API_BASE_URL: ${AREA_API_BASE_URL:-http://host.docker.internal:8080/area_area_api}
      NEXT_PUBLIC_AREA_API_BASE_URL: ${NEXT_PUBLIC_AREA_API_BASE_URL:-http://localhost:8080/area_area_api}
      SERVICES_API_BASE_URL: ${SERVICES_API_BASE_URL:-http://host.docker.internal:8080/area_service_api}
      NEXT_PUBLIC_SERVICES_API_BASE_URL: ${NEXT_PUBLIC_SERVICES_API_BASE_URL:-http://localhost:8080/area_service_api}
      PORT: 8081
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
