name: CI - Mirror to Official Epitech Repo

on:
  push:
    branches: [ main, dev ]

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Push mirror
        run: |
          git remote remove mirror 2>/dev/null || true
          git remote add mirror "${{ secrets.MIRROR_URL }}"
          git remote -v
          git push --mirror mirror